<ion-header [translucent]="true">
    <ion-toolbar>
        <h2>Paste Board</h2>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>New Paste</h3>

    <ion-item>
        <ion-textarea [(ngModel)]="pasteInput" id="textarea" rows="5" cols="10" placeholder="Please paste here..."></ion-textarea>
    </ion-item>

    <ion-button (click)="addItem()">Paste</ion-button>

    <h3>Histories</h3>

    <ion-list>
        <ion-item-sliding *ngFor="let item of items.reverse(); let i = index">
            <ion-item>
                <ion-label style="padding:20px; font-size:20px">
                    {{item.content}}
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-button (click)="editItem(item)" color="primary" fill="solid">
                    <ion-icon name="create-outline"></ion-icon>
                    Edit
                </ion-button>
                <ion-button (click)="shareItem(item)" color="secondary" fill="solid">
                    <ion-icon name="share-social-outline"></ion-icon>
                    Share
                </ion-button>
                <ion-button (click)="deleteItem(item)" color="danger" fill="solid">
                    <ion-icon name="trash-outline"></ion-icon>
                    Delete
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>